<!DOCTYPE html>
<html>
    <head>
        <title>MyBlog</title>
        <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
        <script src="https://use.fontawesome.com/b8ef3f0ce9.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/home.css">
        
    </head>
    <body>
 
