<!DOCTYPE html>
<html>
<head>
      <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/about.css">
</head>
<body>

<div class="about">
    <h2 class="about-header">About MyBlog</h2>
    <div class="about-paragraph">
        <p>
        MyBlog is Seite where you can create a blog of yourself. With this blog, you can show what you Think, 
        Want or just to write about your Job or where did you spend Holidays. Actually, you can create anything that you want about yourself.   
        Of course, this is Blog about you and not about some other, so you should make a blog of yourself. 
        If you want to make a blog about imaginary Person, this is also allowed. :)
    </p>
    <p>
        And at the end Go and Create your First Blog Page!! You can see how other people have created before you,  their own blog. 
        Before everything, you should Sign you Up and what's good about this is that it's still free!! So hurry up and Sign you Up!! :)
        After signed you up press <strong>add new blog</strong> button and your wonderful blog-adventure can Start!!    
    </p>

    <p>
        This is all for now! Thank you for visiting this WebSeite!!  
    </p>
    <a class="btn btn-default text-center" href="/home">Go Back</a>
    </div>
</div>

<%include ../partials/footer%>