<!DOCTYPE html>
<html>
<head>
      <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/about.css">
</head>
<body>

<div class="contact">
    <div class="contact-header">
        <h2>Contact Information</h2>
        <div class="contact-body">
            <h4>Name: Nikola Aleskic</h4>
            <h4>Work: Front-End Programmer and Backend!</h4>
            <h4>Education: Surveying engineer</h4>
            <h5>Tel: +381 64/ 062 - 45 - 46</h5>
            <a class="btn btn-default" href="/home">Go Back</a>
        </div>
    </div>
</div>


<%include ../partials/footer%>